*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.container{
    width: 100%;
    height: 100vh;
    background:#4F396F;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.musicPlayer{
    background: #3c245f;
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 10px;
}
nav{
    display: flex;;
    justify-content: space-between;
    margin-bottom: 10px;
}
nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #5a3b9852;
    color: #edeaf0;
    box-shadow: 0 5px 10px rgba(199, 192, 207, 0.22);

}
.song-img{
    width: 320px;
    height: 300px;
    border-radius: 50%;
    border: 8px solid #d0cdd6;
    background-size: cover;
}
.musicPlayer h1 {
    font-size: 24px;
    color: #d6cde0;
    font-weight:400px;
    margin-top: 20px;
}
.musicPlayer p{
    font-size: 14px;
    color: #d6cde0;
}
#progress{  
    -webkit-appearance: none;
    width: 100%; 
    height: 7px;
    background-color: #d6cde0;
    border-radius: 4px; 
    margin-top: 20px ;
    cursor: pointer; 
} 
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 8px solid #150f1d;
    box-shadow: 0 5px 5px rgba(107, 53, 143, 0.22);
} 
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
}
.controls div{
    width: 40px;
    height: 40px;
    margin: 20px;
    background: #d6cde0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #130e1a;
    box-shadow: 0 5px 5px rgba(107, 53, 143, 0.22);
    cursor: pointer;

}
.controls div:nth-child(2) {
    transform: scale(1.4);
background-color: #1f0e38;
color: #d0cdd6;}